a {
        color:black;
        text-decoration: none;
     }  
    h1 {
        font-size: 52px;
        text-align: center;
        border-bottom: 1px solid gray;
        margin:0;
        padding: 20px;
     }
     ol{
        border-right: 1px solid gray;
        width: 150px;
        margin:0;
        padding: 20px;
        padding-left:33px;
     }
     body{
        margin:0;
     }
     #grid{
        display: grid;
        grid-template-columns: 200px 1fr;
     }
     #grid ol{
        padding-left: 33px;
     }
     #grid #article{
        padding-left: 20px;
     }
     .pre-line-example {
     white-space: pre-line;
    }